<h1>Add a new recipe</h1>

<form method='post' action='/recipes'>
  <input type="text" placeholder="Name" name="name" /> <br />
  <input type="text" placeholder="Ingredients" name="ingredients" /> <br />
  <input type="text" placeholder="Cook Time" name="cook_time" /> <br />
  <input type="submit" value="Add Recipe!" />
</form>
